# Dependencies
node_modules/
package-lock.json

# Hardhat artifacts & cache
artifacts/
cache/

# Coverage
coverage/
coverage.json

# TypeChain
typechain/
typechain-types/

# Hardhat log files
*.log

# Environment variables (JANGAN commit file ini!)
.env
.env.local
.env.production

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db
desktop.ini
*.png
!images/*.png

# Misc
.gemini/
project-02-smart-contract.md
project-03-dapp.md

# Frontend
frontend/node_modules/
frontend/dist/

# Generated ABIs
compiled_abi.json
new_abi.json
*abi.json